.form-button {
	display: block;
	margin: 0 0 0 auto;
	width: auto;
	border-radius: 5px;
	line-height: 1;
	padding: 0;
	font-size: 0.975rem;
	cursor: pointer;
	background-color: map-get($brand-colors, primary);
	color: map-get($base-colors, white);
	border: none;
	text-decoration: none !important;
	height: 46px;
	min-width: 120px;

	&:focus,
	&:active {
		outline: none;
	}

	div {
		height: 25px;
		width: 25px;
	}
}
