footer[role='page-footer'] {
	display: block;
	height: 80px;
	background-color: map-get($brand-colors, secondary);

	.wrap {
		.center-text {
			display: block;
			text-align: center;
			line-height: 80px;
			color: map-get($base-colors, white);
		}
	}
}
