header[role='page-header'] {
	display: block;
	height: 60px;
	background-color: map-get($base-colors, white);
	border-bottom: 2px solid map-get($brand-colors, secondary);

	.wrap {
		.left-side {
			width: 100px;
			display: inline-block;

			svg {
				height: 50px;
				width: 50px;
				margin: 5px 0;
			}
		}

		.right-side {
			width: calc(100% - 150px);
			float: right;
			height: 60px;

			ul {
				display: block;
				margin: 0;
				padding: 0;
				text-align: right;

				li.nav-button {
					display: inline-block;
					padding: 10px 0.25rem;

					a {
						position: relative;
						height: 40px;
						line-height: 40px;
						padding: 0 1rem;
						display: block;
						color: map-get($brand-colors, secondary);
						text-decoration: none;
					}

					&.action a {
						background-color: map-get($brand-colors, primary);
						color: map-get($base-colors, white);
						box-shadow: 0 5px 20px rgba(25, 17, 34, 0.1);
						border-radius: 5px;
						padding: 0 1.5rem;
						transition: all 0.3s ease;

						&:hover {
							background-color: darken(map-get($brand-colors, primary), 5%);
							box-shadow: 0 5px 20px rgba(25, 17, 34, 0.2);
						}
					}
				}
			}
		}
	}
}
