.quizzes-list {
	display: block;

	ul {
		display: block;

		.list-item {
			display: block;
			border-radius: 5px;
			width: 100%;
			height: 50px;
			margin: 5px 0;
			background-color: map-get($brand-colors, primary);

			&-inner {
				display: flex;
				flex-direction: row;
				height: 50px;
				width: 100%;
				list-style: none;
				padding: 0;
				margin: 0;
				text-decoration: none;

				span,
				a {
					text-align: left;
					height: 50px;
					line-height: 50px;
					padding: 0 10px;
					color: map-get($base-colors, white);
				}

				span {
					width: calc(100% - 150px);
				}

				a {
					text-align: center;
					width: 150px;
				}
			}
		}
	}
}
