.games-page {
	display: block;

	.quiz-select-header,
	.game-select-header {
		display: block;
		padding-top: 0.5rem;

		h2 {
			margin: 1rem 0;
			font-size: 1.5rem;
			color: map-get($base-colors, white);
		}
	}
}
